/* styles.css */

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    135deg,
    #b2b3ff,
    #94caff
  ); /* Gradient background */
  color: #000000; /* Black text */
  margin: 0;
  padding: 0;
}

header {
  background-color: #f4f4f4; /* White header background */
  padding: 10px 20px; /* Adjust header padding */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #d3d3d3; /* Dark border */
}

.logo {
  width: 50px; /* Adjust logo width */
}

.header-buttons {
  display: flex;
  gap: 10px; /* Adjust gap between buttons */
}

.header-buttons button {
  color: #000000; /* Black button text */
  background-color: #f4f4f4;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

.header-buttons button.current-page {
  color: #9494fb; /* Purple text */
}

.header-buttons button a {
  color: inherit;
  text-decoration: none;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.section {
  text-align: center;
  border: 2px solid #d3d3d3; /* Dark border */
  padding: 20px;
  margin: 20px;
  width: 50%;
  min-width: 400px;
  border-radius: 10px;
  background-color: #f4f4f4; /* Light background */
}

.database-values {
  text-align: center;
}

h1 {
  color: #000000; /* Black */
  margin-bottom: 20px;
  margin-top: 0px;
}

p {
  color: #000000; /* Black */
  margin-bottom: 10px;
  text-align: left;
}

span {
  font-weight: bold;
  color: #000000; /* Black */
}

/* Add spacing between label, input, and button */
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Adjust top margin */
}

.input-container label {
  margin-right: 10px; /* Adjust right margin of label */
}

.input-container input,
.input-container button {
  margin: 0 5px; /* Adjust horizontal margin between items */
}

/* Hide the header buttons by default */
.header-buttons {
  display: none;
}

/* Show the header buttons when the checkbox is checked */
.menu-toggle:checked + .header-buttons {
  display: flex;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-toggle {
    display: none;
  }

  /* Show/hide header buttons when hamburger menu icon is clicked */
  .menu-toggle:checked + .header-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
