/* styles.css */
/* css reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 80%;
  font-family: "Roboto", sans-serif;
  height: 100%; /* Ensure the html element takes up the full height */
  background: linear-gradient(
    135deg,
    #b2b3ff,
    #94caff
  ); /* Gradient background */
}

body {
  font-family: Arial, sans-serif;
  color: #000000; /* Black text */
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body element takes up the full height */
}

header {
  background-color: #f4f4f4; /* White header background */
  border-bottom: 2px solid #d3d3d3; /* Dark border */
  height: 6rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; /* Add this line to remove bullets */
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none; /* Add this line to remove underlines */
}

.nav-link:hover {
  color: #9494fb;
}

.logo {
  height: 4rem; /* Adjust logo width */
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.section {
  text-align: center;
  border: 2px solid #d3d3d3; /* Dark border */
  padding: 20px;
  margin: 20px;
  width: 50%;
  min-width: 400px;
  border-radius: 10px;
  background-color: #f4f4f4; /* Light background */
}

.supplement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  width: 50%;
  max-width: 400px;
  border: 1px solid #000000; /* Dark border */
  border-radius: 10px;
  background-color: #f4f4f4; /* Light background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.supplement label {
  margin-right: auto; /* Push the label to the left edge */
}

.supplement input[type="checkbox"] {
  margin-left: auto; /* Push the checkbox to the right edge */
}

.database-values {
  text-align: center;
}

h1 {
  color: #000000; /* Black */
  margin-bottom: 20px;
  margin-top: 0px;
}

p {
  color: #000000; /* Black */
  margin-bottom: 10px;
  text-align: left;
}

span {
  font-weight: bold;
  color: #000000; /* Black */
}

/* Add spacing between label, input, and button */
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Adjust top margin */
}

.input-container label {
  margin-right: 10px; /* Adjust right margin of label */
}

.input-container input,
.input-container button {
  margin: 0 5px; /* Adjust horizontal margin between items */
}

/* Dispense button styles */
.dispense-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px; /* Adjust button width */
  height: 200px; /* Adjust button height */
  background-color: transparent; /* Set background color to transparent */
  color: #000000; /* Black text color */
  font-size: 1.6rem; /* Adjust font size */
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.play-icon {
  width: 80px; /* Adjust icon size */
  height: 80px; /* Adjust icon size */
  background-image: url("/play_icon.png"); /* Update URL to reference the image in the public folder */
  background-size: cover;
  border: 1px solid #000000; /* Specify border style and color */
  border-radius: 50%; /* Make the border circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* Adjust spacing between icon and text */
.dispense-btn span {
  margin-bottom: 10px; /* Adjust margin to separate icon from text */
}

@media only screen and (max-width: 768px) {
  .container {
    overflow-x: hidden;
    white-space: nowrap; /* Prevent wrapping of supplements */
  }

  .supplement {
    width: 95%; /* Adjust width for smaller screens */
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid #d3d3d3; /* Dark border */
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
