/* styles.css */
/* css reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 80%;
  font-family: "Roboto", sans-serif;
  color: #000000; /* Black text */
  min-height: 100%; /* Ensure the html element takes up the full height */
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background: linear-gradient(
    135deg,
    #b2b3ff,
    #94caff
  ); /* Gradient background */
}

.background-container {
  min-height: 100vh; /* Ensure container covers at least the viewport height */
  background: linear-gradient(
    135deg,
    #b2b3ff,
    #94caff
  ); /* Gradient background */
}

header {
  background-color: #f4f4f4; /* White header background */
  border-bottom: 2px solid #d3d3d3; /* Dark border */
  height: 6rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  position: relative; /* Add this line */
  z-index: 1; /* Add this line */
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; /* Add this line to remove bullets */
  background-color: #f4f4f4; /* Add this line */
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none; /* Add this line to remove underlines */
}

.nav-link:hover {
  color: #9494fb;
}

.logo {
  height: 4rem; /* Adjust logo width */
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.section {
  text-align: center;
  border: 2px solid #d3d3d3; /* Dark border */
  padding: 20px;
  margin: 20px;
  width: 50%;
  min-width: 400px;
  border-radius: 10px;
  background-color: #f4f4f4; /* Light background */
}

.supplement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  width: 50%;
  max-width: 400px;
  border: 2px solid #d3d3d3; /* Dark border */
  border-radius: 10px;
  background-color: #f4f4f4; /* Light background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.supplement label {
  margin-right: auto; /* Push the label to the left edge */
}

.supplement input[type="checkbox"] {
  margin-left: auto; /* Push the checkbox to the right edge */
}

.database-values {
  text-align: center;
}

h1 {
  color: #000000; /* Black */
  margin-bottom: 20px;
  margin-top: 0px;
}

p {
  color: #000000; /* Black */
  margin-bottom: 10px;
  text-align: left;
}

span {
  font-weight: bold;
  color: #000000; /* Black */
}

/* Add spacing between label, input, and button */
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Adjust top margin */
}

.input-container label {
  margin-right: 10px; /* Adjust right margin of label */
}

.input-container input,
.input-container button {
  margin: 0 5px; /* Adjust horizontal margin between items */
}

/* Dispense button styles */
.dispense-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Set background color to transparent */
  color: #000000; /* Black text color */
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px 0px;
  text-transform: uppercase;
}

.play-icon {
  width: 80px; /* Adjust icon size */
  height: 80px; /* Adjust icon size */
  background-image: url("/play_icon.png"); /* Update URL to reference the image in the public folder */
  background-size: cover;
  border: 2px solid #d3d3d3; /* Specify border style and color */
  border-radius: 50%; /* Make the border circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

/* Adjust spacing between icon and text */
.dispense-btn span {
  margin-bottom: 10px; /* Adjust margin to separate icon from text */
}

.reset-btn {
  text-decoration: underline; /* Add underline to the text */
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: #000000;
  cursor: pointer;
}

/* Profile Section Styles */
.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 50%;
  max-width: 400px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.detail {
  width: 100%;
  padding: 20px;
  border: 2px solid #d3d3d3; /* Dark border */
  border-radius: 10px;
  background-color: #f4f4f4; /* Light background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  margin-bottom: 10px;
}

.detail-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin: 10px 0px;
}

.detail-body {
  font-size: 1rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  margin: 10px 0px;
}

.detail-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Layer camera icon on top */
.profile-photo {
  position: relative;
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  z-index: 0; /* Ensure profile photo is below nav menu */
}

/* Ensure profile image is always visible */
.profile-photo img {
  display: block; /* Ensure the image is displayed as a block element */
  width: 100%; /* Make the image fill the width of its container */
  height: 100%; /* Make the image fill the height of its container */
  object-fit: cover; /* Maintain aspect ratio and cover entire container */
  border: 2px solid #d3d3d3; /* Dark border */
  border-radius: 50%; /* Make the border circular */
  overflow: hidden; /* Hide overflowing parts of the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  background-color: #f4f4f4;
}

/* Layer camera icon on top */
.camera-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px; /* Adjust the width of the button */
  height: 40px; /* Adjust the height of the button */
  background-image: url("camera.png"); /* Set the image path */
  background-size: 70%; /* Adjust the size of the background image */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-color: #f4f4f4; /* Set background color */
  border: 2px solid #d3d3d3; /* Icon already has a border */
  border-radius: 50%; /* Make the border circular */
  overflow: hidden; /* Hide overflowing parts of the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  z-index: 0; /* Set initial z-index */
}

/* Gene selection styles */
#gene-selection {
  margin-top: 20px; /* Add spacing */
  text-align: center;
  width: 50%;
  max-width: 400px;
}

.gene-buttons {
  display: flex;
  justify-content: space-between; /* Distribute buttons evenly */
}

.gene-buttons button {
  flex: 1; /* Distribute available space equally */
  background-color: #f4f4f4;
  color: #000000;
  border: 2px solid #d3d3d3;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px; /* Add spacing between buttons */
}

.gene-buttons button:hover {
  color: #9494fb;
}

.recommendation {
  background-color: #94caff;
  color: #000000;
  border: 2px solid #d3d3d3;
  padding: 8px 15px;
  border-radius: 5px;
  margin-bottom: 0px;
  text-align: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .container {
    overflow-x: hidden;
    white-space: normal; /* Prevent wrapping of supplements */
  }

  .supplement {
    width: 95%; /* Adjust width for smaller screens */
  }

  .profile-section {
    width: 95%; /* Adjust width for smaller screens */
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    border-bottom: 2px solid #d3d3d3; /* Dark border */
    z-index: 3; /* Add this line */
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
